/*LOGIN CSS*/


/*Custom Overwrite CSS*/

body {
    /*background-color: #2477c5 !important;*/
    background-color: #ececec !important;
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700');
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
div,
pre {
    font-family: 'Open Sans', sans-serif;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 0px solid transparent;
}
/*Login Page - 23.10.2016 Start*/
.logo-container,.form-container {
   width:100%;
   margin: 5% 0;
}
.logo{
	margin:auto;
	}
.login-logo{
    width: 75%;
    margin: 10% 15% 0;
}
.login-header{
	margin : 20px auto;
	font-weight:600;
	font-size:30px;
	}
.login-form{
	background:#fff;
	width:80%;
	margin:auto;
	min-height:360px;
	padding: 10px 40px;
	font-size:14px;
}
.login-form input[type="text"],
.login-form input[type="password"]{
	border: 0px solid transparent;
	border-bottom: 1px solid #ccc;
	outline:none;
	box-shadow: none;
	}
	
.login-form .forgot-pass {
    color: #2477c5;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
	    margin: -20px;
    margin-left: 25px;
}

.login-form .signin_btn {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 20px;
}

.login-form input[type="checkbox"] {
    transform: scale(1.5, 1.5);
    background-color: #fff;
}

.signup-container span{	  
		color:#2477c5;
	}
	.signup-container{	  
		margin: 20px auto;
	}
	.signup-container img{	  
		width: 62%;
    padding: 2px;
	}
	
/*Login Page - 23.10.2016 End*/

.header img {
    /*width: 100%;*/
}

.cust_btn {
    height: 38px;
    padding: 20px;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}
.disp-none{
    display: none !important;
}
.no-padding {
    padding: 0px !important;
}

.border-top {
    border-top: 1px solid #eee;
}

.form-group {
    /* margin-bottom: 0px;*/
}

.list-group {
    margin-top: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    /*width: 270px;*/
    height: 36px;
    border-radius: 2px;
    border: 1px solid #666666;
    margin: 10px 0;
    font-size: 13px;
    color: #333333;
    font-weight: 400;
}


/*Left Section Login*/

.left-section {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #006ab6;
    height: 100%;
}


/*Right Section Signup*/

.right-section {
    color: #2377c5;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    height: 100%;
}

.or-text {
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
}

.ln-sign {
    cursor: pointer;
}

.signup-form {
    padding: 15px;
    margin-top: 40%;
}

.signup-form .form-group {
    color: #3d9cdb;
}

.signup-form .signup_btn {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 20px;
}

.signup-form input {
    background-color: #e3e3e3;
}

.signup-form h3 {
    color: #0e5dae;
}


}

/*HOME PAGE*/
.label-login {
    margin-top: 10px;
}
.checkbox {}
.heading-h3 {
    margin-bottom: 30px;
}
.header-bar {
    height: 60px;
}
.remember-me {
    height: 20px;
    width: 20px;
}
.login-submit {
    width: 178px;
    background-color: lightgray;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    height: 28px;
    font-size: 18px;
}
.login-link {
    margin-top: 10px;
    display: block;
}
.modal {
    display: block;
}

/*MY TASKS*/
.task-list {
    width: 95%;
    text-align: left;
    margin: auto;
    padding: 0;
}
.task-list .task-li {
    list-style: none;
    border-bottom: 2px solid #e7e7e7;
    padding: 5px 10px;
    margin: 5px 0px;
    min-height: 90px;
}
.task-list .task-li:last-of-type {
    border-bottom: 0px solid transparent;
}
.task-list .task-sheet,
.lead-info-list {
    padding: 0px;
}
.ptb-12-0 {
    padding: 12px 0px !important;
}
.task-list .task-sheet li {
    text-align: left;
    list-style: none;
    display: inline-block;
    padding: 0px 4px;
}
.task-list .task-sheet >ul > li {}
.task-list .task-li .task-sheet .lead-info .lead-info-list li {
    display: block;
    border-left: 0px solid transparent !important;
}
.lead-info {
    height: 80px;
    border-right: 1px solid #e7e7e7;
        vertical-align: top;
            margin-bottom: 20px;
            font-size: 13px;
}

.lead-info:nth-of-type(3){
    width: 30%;
}
.lead-info:nth-of-type(3) img{
    width: 175px;
}
.lead-info:nth-of-type(2){
    width: 26%;
}
.lead-info:nth-of-type(1){
    width: 22%;
}
.lead-info:last-of-type {
    border-right: 0px solid transparent;
}
.lead-info-left {
    float: left;
}
.task-list .task-sheet .lead-utility-icons {
    padding: 0px;
}
.task-list .task-sheet .lead-utility-icons li {
    display: inline;
    padding: 0px;
    float: left;
    border: 0px solid transparent;
}
.task-list .task-sheet .lead-utility-icons img {
    padding: 0px 3px;
}
.lead-btn {
    cursor: pointer;
    color: #2477c5;
}
.circle-lives {
    color: #fff;
    background-color: orange;
    border-radius: 50%;
    width: 45px;
    height: 50px;
    margin: 5px;
}

.sort{
	display: inline-flex;
    padding: 0px 33px;
	margin-top: 5px;
}
.sort label{
	    padding: 0px 30px;
		width:175px;
	}
.sort select{
	    height: 24px;
    padding: 0px 12px;
    font-size: 13px;
	}
.l-num {
    font-size: 18px;
}
.noli {
    border: 1px solid #e7e7e7;
    border-radius: 6px;
    background: #fce78c;
}

/*Side Bar*/
.side-bar {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: -6px;
    background-color: #114E87;
    min-height: 940px;
    height: 100%;
}

.lead-page img{
	
	}
.pl{
	padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 5px;
	}
	.pr{
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 15px;
		}
/*Cards*/
.card {
    will-change: transform;
    margin-top: 15px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
    height: auto;
    width: 100%;
    transition: all 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
.card-title>span {
    padding: 10px 15px;
    font-size: 13px;
}
.card_text {
    user-select: none;
    font-size: 14px;
    display: block;
    left: 0;
    right: 0;
    top: 100px;
    padding: 16px;
    margin: 0;
    line-height: 1.6;
    position: absolute;
    color: #000;
    overflow: hidden;
    transition: width 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    transition: delay 0.1s;
}
.card_big {
    height: 304px;
    min-height: 304px;
}
.card_medium {
    height: 208px;
    min-height: 208px;
}

/*V-Card*/
.v-list-group-item {
    list-style: none;
    position: relative;
    display: block;
    padding: 8px 0px;
    margin: 0 5px;
    background-color: #fff;
}
.v-list-group-item:last-child {
    border-bottom: 0px solid;
}
.vcard {
    position: relative;
    overflow: hidden;
    height: auto;
    width: 95%;
    margin: auto;
}
.v-main-head {
    float: left;
    font-size: 13px;
    padding: 5px 15px;
    color: #333;
}
.vcard-left {
    float: left;
    width: 30%;
}
.vcard-right {
    width: 70%;
    float: right;
    font-size: 12px;
}
.vcard ul {
    padding: 2px 4px;
}
.vcard ul li {
    font-size: 1em;
    list-style: none;
    text-align: left;
}
.vcard-utility-icon {
    list-style: none;
    cursor: pointer;
}
.vcard-utility-icon li {
    display: inline;
    padding: 0 4px;
    position: relative;
}
.vcard-utility-icon li:first-child {
    padding-left: 0px;
}

/*Bottom Links*/
.btm-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 10px;
}
.btm-btn-left {
    float: left;
    color: #dbb027;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}
.btm-btn-right {
    float: right;
    color: #dbb027;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    padding-right: 15px;
}
.btm-btn-right:hover,
btm-btn-right:active,
.btm-btn-left:hover,
.btm-btn-left:active {
    color: #dbb027;
    text-decoration: none;
}

/*Edit Icon*/
.edit-icon img {
    float: right;
    margin: 8px;
    cursor: pointer;
}

/*Table CSS*/
.card-table {
    font-size: 14px;
    margin: auto;
    width: 100%;
    max-width: 95% !important;
    border-collapse: collapse;
}
.card-table table {
    table-layout: fixed;
}
.card-table table td {
    width: 33.33%;
}
.card-table > thead > tr > th {
    text-transform: uppercase;
    vertical-align: bottom;
    text-align: center;
    border: 0px solid transparent;
}
.card-table tr > th {
    text-align: center;
    color: #333;
}
.card-table tr td {
    border: 0px solid transparent !important;
}
.card-table tr:first-child th {
    border-top: 0;
}
.card-table tr:last-child td {
    border-bottom: 0;
}
.card-table tr td:first-child {
    text-align: left;
}
.card-table tr td:first-child,
.card-table tr th:first-child {
    border-left: 0;
}
.card-table tr td:last-child,
.card-table tr th:last-child {
    border-right: 0;
}
.card-table tr:last-child {
    border-bottom: 0;
}

/*Activity List*/
.activity-list {
    text-align: left;
    list-style: none;
    padding: 10px;
}
.activity-list li {
    padding: 3px 0;
    font-size: 13px;
    font-weight: 500;
}
.activity-list li span {
    font-size: 11px;
    color: #9E9E9E;
}

/*Link List*/
.link-list {
    color: #337ab7;
    font-size: 14px;
    font-weight: 500;
    float: left;
    cursor: pointer;
    list-style: none;
    padding-left: 15px;
}
.link-list li {
    text-align: left;
}
.link-list a {
    text-align: left;
    text-decoration: none;
}

/*Custom Navs*/
.custom_nav {
    margin-top: 15px;
    border-radius: 2px;
}
.custom_nav .nav-item {
    width: 33.33%;
}
.custom_nav .nav-link {
    background-color: #a0b2c8 !important;
    color: #fff;
}
.custom_nav .nav-link .active {
    background-color: #fff !important;
}
.custom_nav > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff !important;
    border-top: 4px solid #2377c5;
    border-left: 2px solid #fff;
}
.custom_nav > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    margin-bottom: -6px;
    border-radius: 4px 4px 0 0;
}
.tab-content {
    min-height: 280px;
    background-color: #fff;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.tab-pane img {
    cursor: pointer;
}
.tab-pane .card {
    margin-top: 0px;
}

/*Over written css*/
.tab-content .tab-pane {
    display: block;
}
.navbar {
    margin-bottom: 0px !important;
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
    min-height: 80px;
    padding: 15px 0px;
}

.c_pointer {
    cursor: pointer;
}

/*SUB PAGE*/
.cust_ht {
    height: 368px;
}
.cust-list-group-item {
    text-align: left;
    padding: 20px 15px;
    margin: 0 10px;
    border-bottom: 2px solid #eaeaea;
}
.cust_profile {
    padding: 3px 30px;
}
div.yeardiv {
    position: relative;
    display: inline;
}
div.yeardiv {
    position: absolute;
    width: 70%;
    color: #FFFFFF;
    background: #7d6891;
    margin-left: -20px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 6px;
}
div.yeardiv:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-top: 8px solid #7d6891;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
.ri-pane {
    margin: 20px 10px;
    text-align: left;
}
.ri-rp {
    padding: 6px 30px;
}

/*subpage-ends*/

/* nav starts */

/*
    greater than 1024
*/
.discounts {
    min-height: 850px;
}
.right-block {
    padding-left: 0px;
    padding-right: 8px;
    margin-bottom: 15px;
}
.ohidden {
    overflow: hidden !important;
}
.tag_green {
    background-color: #456867;
}
.quote {
    text-align: left;
    padding: 0 30px 30px;
    min-height: 850px;
    margin-bottom: 15px;
}
.tags {
    padding: 10px;
    display: inline-block;
}
.tags span {
    margin-left: 5px;
    position: relative;
    bottom: 2px;
}
.clear {
    clear: both;
}
.locno {
    padding: 10px 50px;
    background-color: #F0F0F0;
    border-radius: 10px;
    cursor: pointer;
}
.mtlg {
    margin-top: 40px;
}
.mtxxlg {
    margin-top: 40px;
}
.lochigh {
    background-color: #FFC000;
}
.fw {
    width: 100% !important;
}
.taglist {
    
    background-color: white !important;
    width: 100%;
    margin: 25px 0 0 0;
    padding: 2px 5px;
    height: auto;
    border-radius: 10px;
    min-height: 36px;
}
.taglist .tags {
    margin: 2px !important;
    padding: 3px 5px;
}
.btnbar {
    position: absolute;
    bottom: 20px;
    left: 0;
    padding: 0 30px;
}
.plg {
    padding: 20px !important;
}
.pxlg {
    padding: 40px !important;
}
.mts {
    margin-top: 5px !important;
}
.mtxlg {
    margin-top: 30px !important;
}
.no-margin {
    margin: 25px 0 0 0px !important;
}
small {
    font-size: 85% !important;
}

.green-btn{
    background-color: #348D6F;
    color:white;
}
.green-btn:hover,.green-btn:focus{
	color: #fff !important;
	}

.gray-btn{
    background-color: gray;
    color:white;
    margin-left: 20px;
    margin-right: 100px;
}
.gray-btn:hover,.gray-btn:focus{
    color: #fff !important;
}
/* breadcrumbs */

/*.breadcrumb {
    background-color: transparent;
}
.breadcrumb > li + li:before {
    position: relative;
    top: 10px;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    line-height: 1;
    margin-top: 5px;
    font-size: 28px;
    -webkit-font-smoothing: antialiased;
    content: "\e258";
    color: #777777;
}
.breadcrumb > li.active {
    font-weight: bold;
    color: #000000;
}
.breadcrumb > li a {
    font-weight: bold;
    color: #777777;
}
.breadcrumb > li a:hover {
    font-weight: bold;
    color: #777777;
    text-decoration: none
}
.breadcrumb > li.visited a {
    font-weight: bold;
    color: #29B050;
}*/
.breadcrumb {
    list-style: none;
    overflow: hidden;
    font: 15px Helvetica, Arial, Sans-Serif;
    padding: 0;
    background-color: transparent;
    margin-top: 10px;
}
.breadcrumb li {
    float: left;
}
.breadcrumb li a {
    color: #333;
    text-decoration: none;
    padding: 10px 0 10px 32px;
    background: #F0F0F0;
    /* fallback color */
    
    position: relative;
    display: block;
    float: left;
    cursor: default;
}
.breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    /* Go big on the size, and let overflow hide */
    
    border-bottom: 50px solid transparent;
    border-left: 30px solid #F0F0F0;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}
.breadcrumb li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    /* Go big on the size, and let overflow hide */
    
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 4px;
    left: 100%;
    z-index: 1;
}
.breadcrumb li:first-child a {
    padding-left: 25px;
}
.breadcrumb li:nth-child(2) a {
    padding-left: 50px;
}
.breadcrumb li:last-child a:after {
    border: 0;
}
.breadcrumb li:last-child a:before {
    border-left: 30px solid #F0F0F0;
    margin-left: 0;
}
.breadcrumb li.active a {
    color: #fff;
    background: #ED7C12;
}
.breadcrumb li.active a:after {
    border-left: 30px solid #ED7C12;
}
.breadcrumb li.active:last-child a:before {
    border-left: 30px solid #ED7C12;
}
.inline {
    display: inline
}
.p {
    padding: 10px
}
.pls {
    padding-left: 5px
}
.mt {
    margin-top: 10px
}
.mb {
    margin-bottom: 10px
}
.mblg {
    margin-bottom: 20px;
}
.nm {
    margin: 0px
}
.nmb {
    margin-bottom: 0px
}
.npb {
    padding-bottom: 0px !important;
}
.xsmall {
    font-size: 85%
}
.xxsmall {
    font-size: 61%
}
.text-info {
    color: #337ab7
}
.mr {
    margin-right: 10px;
}
.right-bdr {
    border-right: 1px solid #DCDCDC;
}
.top-bdr {
    border-top: 1px solid #DCDCDC;
}
.pt {
    padding-top: 10px;
}
.ptblg {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

/*benefits*/
.mllg {
    margin-left: 20px
}
.rcontainer {
    height: 250px;
    width: 100%;
    display: block;
}
.grey {
    background-color: #eaedeb;
    border: 1px solid #e0d9d0;
    padding: 10px;
}
.brown {
    background-color: #f6f5e2;
    border: 1px solid #e0d9d0;
}
.green {
    background-color: #e0fcba;
    border: 1px solid #e0d9d0;
}
.lgrey {
    background-color: #f9f8f1;
    border: 1px solid #e0d9d0;
}
.fln {
    float: none
}
.w90 {
    width: 90% !important
}
.dashBoard {
    height: 80px;
    color: #ffffff;
    border-left: 12px solid #3EB8DB;
    background: #114E87 url("../images/dashboard.png") no-repeat 20px 20px;
    font-weight: semibold !important;
    padding: 27px 0 0 39px;
    font-family: open sans !important;
    font-size: 16px !important;
    cursor: pointer;
}
.servicing {
    background: #2477C5 url("../images/services.png") no-repeat 35px 20px;
    height: 80px;
    color: #a6d4ff;
    padding: 24px 0 0 0;
    font-weight: normal !important;
    font-size: 16px !important;
    font-family: open sans !important;
    cursor: pointer;
}
.claims {
    background: #2477C5 url("../images/claims.png") no-repeat 35px 20px;
    height: 80px;
    color: #a6d4ff;
    padding: 25px 15px 0 0;
    font-weight: normal !important;
    font-size: 16px !important;
    font-family: open sans !important;
    cursor: pointer;
}
.products {
    background: #2477C5 url("../images/products.png") no-repeat 37px 20px;
    height: 80px;
    color: #a6d4ff;
    padding: 27px 0 0 0;
    font-weight: normal !important;
    font-size: 16px !important;
    font-family: open sans !important;
    cursor: pointer;
}
.video-text {
    padding-left: 8px;
    font-size: 45%;
}
.block {
    display: block
}
/*.ctable {
    border-collapse: separate !important;
    border-spacing: 3px !important;
    border: 0px
}
.ctable th {
    background-color: #2477C5;
    color: #fff
}
.ctable tr.odd td {
    background-color: #dde0df
}
.ctable tr.even td {
    background-color: #eff0f0
}
.ctable label {
    font-weight: normal
}*/
.ctable {
	color: #666;
}
.ctable > thead > tr > th {
	border-bottom: none;
}
.ctable th {
    background-color: #2477C5;
    color: #fff;
	text-align: center;
	border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.ctable > tbody > tr > td {
	text-align: center;
	vertical-align: middle;
	background-color: #fff;
	border-top: none;
	padding: 20px 10px;
}
.tbl-gray-head {
	background-color: #A5B8C9 !important;
}
.w30 {
	width: 30%;
}
.w40 {
	width: 40%;
}
.tbl-right {
	border-right: 2px solid #F4F6F7 !important;
}
.tbl-top {
	border-top: 2px solid #F4F6F7 !important;
}
.tbl-bottom-left {
    border-bottom-left-radius: 8px;
}
.tbl-bottom-right {
    border-bottom-right-radius: 8px;
}
.blue-normal {
    color: #2477C5;
}
.chk-lable {
	color: #2477C5;
    position: relative;
    margin-left: 5px;
    bottom: 2px;
}
.fll {
	float: left;
}
.ml {
	margin-left: 5px;
}
.quote-bg {
    background-color: #F0F0F0;
    border-radius: 10px;
    padding: 10px;
}
.quote-scroll {
	height: 603px;
	overflow-y: scroll;
	padding: 10px 20px;
}
.cart-scroll {
	height: 840px;
	overflow-y: scroll;
	padding: 10px 20px;
}
.quote-div {
	/*border-top: 1px solid #E4E4E4;
    padding-top: 15px;*/
	margin-bottom: 30px;
}
.img-top{
    margin-top:15px;
    margin-bottom:40px;
}


.install{
    width : 90%;
    margin-bottom : 20px;
}


.install tr th{
    padding: 20px;
}

.install tr:first-child,
.install tr:nth-child(3){
    border-style: solid none solid none;
    border-width: 2px;
    border-color: #3DB8DA;
}

.install tr:last-child{
    border-style: solid none none none;
    border-width: 2px;
    border-color: #3DB8DA;
}

.install tr td{
    padding: 10px 20px;
}

.install tr:nth-child(3) td{
    padding:20px;
}

.mg-top{
    margin-top: 30px;
}

.block-pad{
    padding-bottom:10px;
    display:block;
    padding-top:5px;
}

.pd-bottom{
    padding-bottom:10px;
}
.right-sec {
	padding-top: 8px;
    position: relative;
    left: -4px;
}
.info {
	position: absolute;
    top: 20px;
    right: 20px;
}
.cover-btn {
	color: #348D6F;
    background-color: transparent;
    border: 1px solid #348D6F;
}
.cover-btn:hover{
    color: #348D6F;
}
.del-btn {
	background-color: #F34541;
	color: #fff;
}
.del-btn:hover {
    color: #fff;
}
.gray-btn {
	background-color: #A5B8C9;
	color: #fff;
}
.nav-side-bar {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: -6px;
    background-color: #114E87;
    min-height: 1055px;
    height: 100%;
}

.right-pad{
    padding-right: 20px;
}
/*.thumbnail:hover {
    background-color: #FFC000;
}*/
@media screen and (min-width: 1025px) {
    .quote {
        min-height: 1019px;
    }
    
    .discounts {
        min-height: 850px;
    }
    
    .video-text {
        padding-left: 0;
        font-size: 61%;
    }
    
    .breadcrumb {
        font: 18px Helvetica, Arial, Sans-Serif;
    }
}

/* nav ends */

/* modal - code custom css*/
.modal-content {
    border-radius: 0px !important;
}
.modal-header{
	
	background:#fff !important;
	border:0px solid transparent !important;
	}
 .modal-sm{
	width:310px !important;
	}
.modal-sm {
    width: 450px;
}
.float-right {
    float: right;
    cursor: pointer;
}
.modal-footer {
    border-top: none !important;
}
.modal-body .radio label {
    float: none !important;
    font-size: 12px;
    font-family: sans-serif;
}
.modal {
    text-align: center;
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.pad-left {
    padding-left: 30px;
}
.modal-body {
    font-size: 12px;
}
.btn-gray {
    background-color: lightgray;
    border-color: darkgray;
    color: white;
}
.btn-gray:hover {
    background-color: gray;
    color: white;
}
.gray {
    color: gray;
}
.gray a {
    color: gray;
    cursor: pointer;
}
.bluebold {
    color: #2477C5;
    font-weight: bold;
    margin-top: 5px;
}
.left-pad {
    padding-left: 0px;
}
.min-hgh {
    min-height: 440px;
}
.min-leads {
    min-height: 440px;
}
.blueFont {
    font-weight: 600 !important;
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif !important;
    color: #2477c5;
}
.grayFont {
    font-weight: 600 !important;
    font-size: 13px !important;
    font-family: 'Open Sans', sans-serif !important;
    color: #838383;
}
.blueFontLink,
.task-table tr td:nth-child(3) {
    font-weight: normal !important;
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif !important;
    color: #2477c5 !important;
}
.blueFontsmall {
    font-weight: 600 !important;
    font-size: 13px !important;
    font-family: 'Open Sans', sans-serif !important;
    color: #2477c5 !important;
}
.card-heading {
    font-weight: 600 !important;
    font-size: 16px !important;
    font-family: 'Open Sans', sans-serif !important;
    color: #454545 !important;
}
.task-table thead th {
    font-weight: normal !important;
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif !important;
    color: #838383 !important;
}
.task-table tr td {
    font-weight: normal !important;
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif !important;
    color: #838383 !important;
}
.task-table tr td:first-child,
.grayFontList {
    font-weight: 600 !important;
    font-size: 13px !important;
    font-family: 'Open Sans', sans-serif !important;
    color: #838383 !important;
}
.text-lft {
    text-align: left !important;
}
.livesFont {
   font-family: 'Open Sans', sans-serif !important;
    color: #666666 !important;
}
.graySmall {
    font-weight: normal !important;
    font-size: 13px !important;
    font-family: 'Open Sans', sans-serif !important;
    color: #666666 !important;
}
.tabs-active {
    font-weight: 600 !important;
    font-size: 16px !important;
    font-family: 'Open Sans', sans-serif !important;
    color: #666666 !important;
}
.tabs-inactive {
    font-weight: normal !important;
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif !important;
    color: #f0f0f0 !important;
}
.blue {
    color: #2477c5;
}
.top-pad {
    padding-top: 8px;
}

.empInp{
    background-color: #F0F0F0;
    border-radius: 10px !important;
    border:none !important;
    text-align:center;
}

.bisInp{
    background-color: #F0F0F0;
    border-radius: 10px !important;
    border:none !important;
}

    
.modal {
  text-align: center;
}

.blueCost{
    background-color: #3DB8DA;
    color:white;
    font-weight: 700;
}

.pointer{
    cursor: pointer;
}

.white-back{
    background-color:#F0F0F0;
    border-radius:10px;
    padding:1px 20px 0;
}

.modal-body .cart-scroll{
    height: 550px;
}

.grayFont{
    color: gray !important;
}

.small-font{
    font-size: 11px;
    color: black !important;
    margin: 0 5px;
}
@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
@media screen and (min-width: 768px) and (max-device-width: 1024px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
    
    .logo-container {
        margin: 80% 5%;
    }
    
    .login-form {
        margin-top: 60%;
    }
    
    .signup-form {
        margin-top: 55%;
    }
    
    .servicing,
    .claims,
    .products {
        padding: 24px 0 0 20px;
        font-size: 15px !important;
    }
    
    .dashBoard {
        padding: 30px 0 0 50px;
        font-size: 15px !important;
    }
    
    .task-list {
        width: 100%;
    }
    
    .task-list .task-li {
        padding: 5px 0px;
        margin: 5px 0px;
    }
    
    .task-list .noli {
        padding: 0px 0px;
        margin: -3px 0px;
        min-height: 80px;
    }
    
    .task-list .task-sheet li {
        padding: 0px 2px;
    }
    
    .lead-info:last-of-type {
        width: 16%;
    }
    
    .activity-list li {
        padding: 1px;
        font-weight: 500;
    }
    
    .activity-list {
        padding: 6px;
    }
    
    .v-list-group-item {
        padding: 0px;
    }
    
    .list-group {
        margin: 0px;
    }
    
    .min-leads {
        min-height: 380px;
    padding: 27px 0px;
    }
    .top-pad {
    padding: 15px;
    margin-top: -20px;
}
    .ri-rp {
        padding-left: 50px;
        padding-bottom: 20px;
    }
    
    .ri-pane {
        margin: 1px;
    }
    
    .lead-det {
        width: 100%;
        margin: 5% auto;
    }
}
