<div class="header">
    <img src="images/new-header.png" usemap="header-map"/>
</div>
<map name="header-map">
  <area shape="rect" coords="806,9,839,40" ng-click="showCart()">
</map>
<div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 nav-side-bar">
            <div class="dashBoard" ng-click="backToDashBoard()">Sales Dashboard</div>
            <div class="servicing">Servicing</div>
            <div class="claims">Claims</div>
            <div class="products">Products</div>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        	 <div class="row">
        	 	<div class="col-xs-12 right-pad">
        	 		<div class="card quote">
                        <div class="card-block plg">
	        	 			<div class="text-left gray"> &lt; <a ng-click="backToDashBoard()">Back to Dashboard</a></div>
    	         			<div class="text-center "> <h4 class="bluebold">Case Install Checklist for ACME corp</h4></div>
    	         			<div>
    	         				<table class='mg-top install'>
    	         				    <col width="49%">
  									<col width="17%">
  									<col width="17%">
  									<col width="17%">
				  				  <tr>
								    <th>Milestones</th>
								    <th>Due Dates</th>
								    <th>Status</th>
								    <th>Action</th>
								  </tr>
								  <tr>
								    <td>Enter Group application- Route Application to Employer for E-Signature
								    	 <ul>
											  <li>Select plans and rates</li>
											  <li>Additional Customer details like banking information, admin contant, communication preference</li>
											  <li>Final Census data</li>
											  <li>Request for binder premiuim</li>
										 </ul> 

								    </td>
								    <td>10/12/15</td>
								    <td><img src='images/Check-mark.png'></td>
								    <td></td>
								  </tr>
								  <tr>
								    <td>E-Sign by broker</td>
								    <td>10/15/16</td>
								    <td><img src='images/Check-mark.png'></td>
								    <td></td>
								  </tr>
								  <tr>
								    <td>Master contract generated and delivered to Employer and broker</td>
								    <td>10/18/16</td>
								    <td><img src='images/Check-mark.png'></td>
								    <td></td>
								  </tr>
								  <tr>
								    <td>Employer portal access activated</td>
								    <td>10/19/16</td>
								    <td><img src='images/delete-icon.png'></td>
								    <td><a>Activate Access</a></td>
								  </tr>
								   <tr>
								    <td>Broker portal updated with customer account</td>
								    <td>10/20/16</td>
								     <td><img src='images/Check-mark.png'></td>
								    <td></td>
								  </tr>
								   <tr>
								    <td>Past Binder premiuim</td>
								    <td>10/20/16</td>
								    <td><img src='images/Check-mark.png'></td>
								    <td></td>
								  </tr>
								</table>
    	         			</div>

    	         			<div class="pt">
    	         			<button type="button" class="btn gray-btn pull-right">Complete Installation</button>
    	         			<button type="button" class="btn  pull-right">Cancel</button>
                            </div>
                            
    	         		</div>
    	         	</div>
    	        </div>
             </div>
        </div>
</div>