<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Metlife</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/custom.css">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body ng-app="metlife">
    <div class="text-center">
        <div ui-view></div>
    </div>
    <script src="js/vendor/angular/angular.min.js"></script>
    <script src="js/vendor/angular/angular-ui-router.min.js"></script>
    <script src="js/vendor/angular/ui-bootstrap-tpls-1.3.3.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services/sharedProperties.js"></script>
    <script src="js/login/controller/loginController.js"></script>
    <script src="js/home/controller/homeController.js"></script>
    <script src="js/subhome/controller/subController.js"></script>
    <script src="js/nav/controller/navController.js"></script>
    <script src="js/quotes/QuoteController.js"></script>
    <script src="js/QuoteCart/QuoteCartController.js"></script>
    <script src="js/install/installController.js"></script>
    <script type="text/ng-template" id="createQuote.html">
	<div class="modal-header">
		 <b>Preference</b>
		<img src="images/Cross.png" class="c_pointer pull-right" ng-click="cancel()"/>
	</div>
        <div class="modal-body pad-left"> 
		 
         Select your preference
           <div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"/>
                Employer Paid (Core)
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"/>
                Employee Paid (Voluntary)
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" checked/>
                Employer &amp; Employee Paid (Core + Voluntary)
              </label>
            </div>
           </div>
        </div>
        <div class="modal-footer">
            <button class="btn" type="button" ng-click="cancel()">Cancel</button>
            <button class="btn green-btn" type="button" ng-click="proceed()">Continue</button>
        </div>
    </script>
    <script type="text/ng-template" id="licenseExpired.html">
	<div class="modal-header">
		<b>License Expired</b>
		<img src="images/Cross.png" class="c_pointer pull-right" ng-click="cancel()"/>
	</div>
        <div class="modal-body">    
         Your license has expired! You will not be able to perform any transactions until the license is
         renewed.
        </div>
        <div class="modal-footer">
            <button class="btn" type="button" ng-click="cancel()">Cancel</button>
            <button class="btn green-btn" type="button" ng-click="cancel()">Continue</button>
        </div>
    </script>
     <script type="text/ng-template" id="Quote.html">
    <div class="modal-header">
        <b>Select a case for quote installation</b>
        <img src="images/Cross.png" class="c_pointer pull-right" ng-click="cancel()"/>
    </div>
        <div class="modal-body">    
            <div class="mt mb quote-bg">
                <div class="cart-scroll">
                    <div class="quote-div" ng-class="{hidden: quote1 == false}">
                        <label>
                            <input type="checkbox" ng-model="quote4"><span class="chk-lable">Quote 1</span>
                        </label>
                        <table class="table ctable">
                            <thead>
                                  <tr>
                                    <th class="w30">Products</th>
                                    <th class="w40 tbl-gray-head">Select</th>
                                    <th class="w40 tbl-gray-head">Advantage</th>
                                  </tr>
                                </thead>
                            <tbody>
                              <tr>
                                <td class="tbl-right blue-normal">Group Dental</td>
                                <td class="tbl-right">
                                    <div><strong>Coinsurance:</strong></div>
                                    <div>100/80/50</div>
                                    <div><strong>In and Out Deductible:</strong></div>
                                    <div>$50</div>
                                    <div><strong>Ortho:</strong> No</div>
                                </td>
                                <td>
                                    <div><strong>Coinsurance:</strong></div>
                                    <div>100/80/50</div>
                                    <div><strong>In and Out Deductible:</strong></div>
                                    <div>$50</div>
                                    <div><strong>Ortho:</strong> Yes</div>  
                                </td>
                              </tr>
                              <tr>
                                <td class="tbl-right tbl-bottom-left"></td>
                                <td class="bluebold tbl-right tbl-top">
                                    $300
                                </td>
                                <td class="bluebold tbl-top tbl-bottom-right">  
                                    $400
                                </td>
                              </tr>
                            </tbody>
                        
                        </table>
                        
                        <table class="table ctable">
                            <thead>
                                  <tr>
                                    <th class="w30">Products</th>
                                    <th class="w40 tbl-gray-head">Plan 1</th>
                                    <th class="w40 tbl-gray-head">Plan 2</th>
                                  </tr>
                                </thead>
                            <tbody>
                              <tr>
                                <td class="tbl-right blue-normal">Basic Life</td>
                                <td class="tbl-right">
                                    Flat $50000
                                </td>
                                <td>
                                    Flat $40000
                                </td>
                              </tr>
                              <tr>
                                <td class="tbl-right blue-normal tbl-top">Optional Life</td>
                                <td class="tbl-right tbl-top">
                                    Increment of $10000 to a max of $500000
                                </td>
                                <td class="tbl-top">
                                    2 x Salary
                                </td>
                              </tr>
                              <tr>
                                <td class="tbl-right tbl-bottom-left tbl-top"></td>
                                <td class="bluebold tbl-right tbl-top">
                                    $3000
                                </td>
                                <td class="bluebold tbl-top tbl-bottom-right">  
                                    $2000
                                </td>
                              </tr>
                            </tbody>
                        
                        </table>
                    </div>    
                    <div class="quote-div" ng-class="{hidden: quote2 == false}">
                        <label>
                            <input type="checkbox" ng-model="quote5"><span class="chk-lable">Quote 2</span>
                        </label>
                        <table class="table ctable">
                            <thead>
                                  <tr>
                                    <th class="w30">Products</th>
                                    <th class="w40 tbl-gray-head">Select</th>
                                    <th class="w40 tbl-gray-head">Advantage</th>
                                  </tr>
                                </thead>
                            <tbody>
                              <tr>
                                <td class="tbl-right blue-normal">Group Dental</td>
                                <td class="tbl-right">
                                    <div><strong>Coinsurance:</strong></div>
                                    <div>100/90/60</div>
                                    <div><strong>In and Out Deductible:</strong></div>
                                    <div>$50</div>
                                    <div><strong>Ortho:</strong> No</div>
                                </td>
                                <td>
                                    <div><strong>Coinsurance:</strong></div>
                                    <div>100/90/60</div>
                                    <div><strong>In and Out Deductible:</strong></div>
                                    <div>$50</div>
                                    <div><strong>Ortho:</strong> Yes</div>  
                                </td>
                              </tr>
                              <tr>
                                <td class="tbl-right tbl-bottom-left"></td>
                                <td class="bluebold tbl-right tbl-top">
                                    $300
                                </td>
                                <td class="bluebold tbl-top tbl-bottom-right">  
                                    $400
                                </td>
                              </tr>
                            </tbody>
                        
                        </table>
                        
                        <table class="table ctable">
                            <thead>
                                  <tr>
                                    <th class="w30">Products</th>
                                    <th class="w40 tbl-gray-head">Plan 1</th>
                                    <th class="w40 tbl-gray-head">Plan 2</th>
                                  </tr>
                                </thead>
                            <tbody>
                              <tr>
                                <td class="tbl-right blue-normal">Basic Life</td>
                                <td class="tbl-right">
                                    Flat $100000
                                </td>
                                <td>
                                    Flat $50000
                                </td>
                              </tr>
                              <tr>
                                <td class="tbl-right blue-normal tbl-top">Optional Life</td>
                                <td class="tbl-right tbl-top">
                                    Increment of $10000 to a max of $500000
                                </td>
                                <td class="tbl-top">
                                    5 x Salary
                                </td>
                              </tr>
                              <tr>
                                <td class="tbl-right tbl-bottom-left tbl-top"></td>
                                <td class="bluebold tbl-right tbl-top">
                                    $3000
                                </td>
                                <td class="bluebold tbl-top tbl-bottom-right">  
                                    $2000
                                </td>
                              </tr>
                            </tbody>
                        
                        </table>
                    </div>
                    <div class="quote-div" ng-class="{hidden: quote3 == false}">    
                        <label>
                            <input type="checkbox" ng-model="quote6"><span class="chk-lable">Quote 3</span>
                        </label>
                        <table class="table ctable">
                            <thead>
                                  <tr>
                                    <th class="w30">Products</th>
                                    <th class="w40 tbl-gray-head">Select</th>
                                    <th class="w40 tbl-gray-head">Advantage</th>
                                  </tr>
                                </thead>
                            <tbody>
                              <tr>
                                <td class="tbl-right blue-normal">Group Dental</td>
                                <td class="tbl-right">
                                    <div><strong>Coinsurance:</strong></div>
                                    <div>100/90/60</div>
                                    <div><strong>In and Out Deductible:</strong></div>
                                    <div>$50</div>
                                    <div><strong>Ortho:</strong> No</div>
                                </td>
                                <td>
                                    <div><strong>Coinsurance:</strong></div>
                                    <div>100/90/60</div>
                                    <div><strong>In and Out Deductible:</strong></div>
                                    <div>$50</div>
                                    <div><strong>Ortho:</strong> Yes</div>  
                                </td>
                              </tr>
                              <tr>
                                <td class="tbl-right tbl-bottom-left"></td>
                                <td class="bluebold tbl-right tbl-top">
                                    $300
                                </td>
                                <td class="bluebold tbl-top tbl-bottom-right">  
                                    $400
                                </td>
                              </tr>
                            </tbody>
                        
                        </table>
                        
                        <table class="table ctable">
                            <thead>
                                  <tr>
                                    <th class="w30">Products</th>
                                    <th class="w40 tbl-gray-head">Plan 1</th>
                                    <th class="w40 tbl-gray-head">Plan 2</th>
                                  </tr>
                                </thead>
                            <tbody>
                              <tr>
                                <td class="tbl-right blue-normal">Basic Life</td>
                                <td class="tbl-right">
                                    Flat $100000
                                </td>
                                <td>
                                    Flat $50000
                                </td>
                              </tr>
                              <tr>
                                <td class="tbl-right blue-normal tbl-top">Optional Life</td>
                                <td class="tbl-right tbl-top">
                                    Increment of $10000 to a max of $500000
                                </td>
                                <td class="tbl-top">
                                    5 x Salary
                                </td>
                              </tr>
                              <tr>
                                <td class="tbl-right tbl-bottom-left tbl-top"></td>
                                <td class="bluebold tbl-right tbl-top">
                                    $3000
                                </td>
                                <td class="bluebold tbl-top tbl-bottom-right">  
                                    $2000
                                </td>
                              </tr>
                            </tbody>
                        
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" type="button" ng-click="cancel()">Cancel</button>
            <button class="btn green-btn" type="button" ng-click="proceed(quote4, quote5, quote6)">Continue</button>
        </div>
    </script>
</body>

</html>
