<div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 nav-side-bar">
            <div class="dashBoard" ng-click="backToDashBoard()">Sales Dashboard</div>
            <div class="servicing">Servicing</div>
            <div class="claims">Claims</div>
            <div class="products">Products</div>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <div class="row">
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="card quote">
                                <div class="card-block plg">
                                	<div class="row">
                                        <div class="gray"> &lt; <a ng-click="backToDashBoard()">Back to Dashboard</a><img src="images/info.png" class="info"/></div>
                                        <div class="text-center"> <h4 class="bluebold">Create a Quote</h4></div> 
								                  </div>
                                  <div class='text-center img-top'>
                                    <img src="images/Employees.png">
                                  </div> 
                                    
                                    <!-- <ol class="breadcrumb">
                                        <li class="active"><a href="javascript:void(0)">Business</a></li>
                                        <li class="active"><a href="javascript:void(0)">Locations</a></li>
                                        <li class="active"><a href="javascript:void(0)">Employees</a></li>
                                        <li><a href="javascript:void(0)">Quote</a></li>
                                        
                                      </ol> -->
                                    <div class='text-center'><h4><strong>Your have selected:</strong></h4></div>
                                    <ul class="list-inline text-center">
                                    	<li><span class="tags">{{btype}}<span><img src="images/Cross.png"/></span></span></li>
                                    	<li ng-repeat="loc in loc_arr track by $index"><span class="tags">{{loc}}<span><img src="images/Cross.png"/></span></span></li>
                                    </ul>
                                    <div class="clear"></div>
                                    <div class='white-back'>
                                      <h4 class='text-center'><strong>Upload information of lives</strong></h4>
                                      <p class='text-center'> Number of employees defines size of your business.</p>
                                      <div class='text-center pd-bottom'><button type="button" class="btn green-btn ">Upload</button></div>
                                      <div class="clear"></div>
                                    </div>
                                    <h4 class='text-center mg-top'><strong>How many employees work for your company?</strong></h4>
                                    <p class='text-center'> Number of employees defines size of your business.</p>
                                    
                                    <div class="row text-center">
                                      <div class="col-xs-offset-5 col-xs-2">
                                        <input type="text" class="form-control empInp" ng-model="emp_count">
                                      </div>
                                    </div>
                                    
                                    <h4 class='text-center'><strong>Provide more information about employees</strong></h4>
                                    <div class="row">
                                    	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 right-bdr">
                                        	Age Distribution
                                            <div class="row mt">
                                              <div class="col-xs-6">
                                              	Range
                                                <input type="text" class="form-control empInp" value="35 - 45">
                                                <input type="text" class="form-control empInp" value="45 - 55">
                                              </div>
                                              <div class="col-xs-6">
                                               	Employees
                                                <input type="text" class="form-control empInp" value="15">
                                                <input type="text" class="form-control empInp" value="5">
                                              </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 right-bdr">
                                        	Smoking Distribution
                                            <div class="row mt">
                                              <div class="col-xs-5">
                                              	Smoker
                                                <input type="text" class="form-control empInp" value="10">
                                              </div>
                                              <div class="col-xs-7">
                                               	Non-smoker
                                                <input type="text" class="form-control empInp" value="10">
                                                 <input type="text" class="form-control empInp invisible" value="10">
                                              </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        	Gender Distribution
                                            <div class="row mt">
                                              <div class="col-xs-6">
                                              	Male
                                                <input type="text" class="form-control empInp" value="9">
                                              </div>
                                              <div class="col-xs-6">
                                               	Female
                                                <input type="text" class="form-control empInp" value="11">
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="fw mtxxlg btnbar">
                                        <button type="button" class="btn" ng-click="goBackLocation()">Back</button>
                                        <button type="button" class="btn green-btn pull-right" ng-click="goCoverage(emp_count)">Save &amp; Continue</button>
                                    </div> 
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 right-block">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <img src="images/Slide-11-right-rail.png" class="right-sec"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
