<div class="header">
    <img src="images/new-header.png" usemap="header-map"/>
</div> 
<div class="container-fluid ohidden" ng-include="quote_url">
</div>    
<map name="header-map">
  <area shape="rect" coords="806,9,839,40" ng-click="showCart()">
</map>