<div class="header">
    <img src="images/new-header.png" usemap="header-map"/>
</div>
<map name="header-map">
  <area shape="rect" coords="806,9,839,40" ng-click="showCart()">
</map>
<div class="container-fluid ">
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 side-bar">
            <div class="dashBoard">Sales Dashboard</div>
            <div class="servicing">Servicing</div>
            <div class="claims">Claims</div>
            <div class="products">Products</div>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <div class="row">
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <ul class="nav nav-tabs custom_nav">
                                <li class="nav-item  active" ng-class="actstatus1">
                                    <a class="nav-link tabs-active" data-toggle="tab" href="javascript:void(0)" ng-click="tabchange(1,actstatus1)" role="tab">My Leads
                                     <span class="blue">(3)</span></a>
                                </li>
                                <li class="nav-item" ng-class="actstatus2">
                                    <a class="nav-link tabs-inactive" ng-class='{grayFont: grayFont}' data-toggle="tab" href="javascript:void(0)"  role="tab">{{appointments}}</a>
                                </li>
                                <li class="nav-item" ng-class="actstatus3">
                                    <a class="nav-link tabs-inactive" ng-class='{grayFont: grayFont}' data-toggle="tab" href="javascript:void(0)"  role="tab">{{commissions}}</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane" ng-show="show===1" ng-if="!licenseExpired">
                                	<div class="row">
                                    	<div class="col-sm-12 col-md-12 col-lg-12">
                                        	<div class="form-group sort pull-right">
  <label for="sel1">Sort By:</label>
  <select class="form-control" id="sel1">
    <option>Date</option>
  </select>
</div>
                                    	</div>
                                     </div>
                                    <div class="card">
                                        <div class="card-block">
                                            <ul class="task-list">
                                                <li class="task-li" ng-repeat="mylead in myleads">
                                                    <ul class="task-sheet">
                                                        <li class="lead-info c_pointer" ng-click="opensubpage($index)">										<div class="row">
                                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                                 <img ng-src="{{mylead.image}}" alt="person" class="img-circle">
                                                            </div>
                                                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                                <ul class="lead-info-list no-padding" ng-repeat="leadinfo in mylead.leadinfo">
                                                                    <li class='livesFont'>{{leadinfo.name}}</li>
                                                                    <li><span class="blueFontsmall">{{leadinfo.company}}</span></li>
                                                                    <li class='graySmall'>{{leadinfo.place}}</li>
                                                                    <li>
                                                                        <ul class="lead-utility-icons">
                                                                            <li><img src="images/call.png" /></li>  
                                                                            <li><img src="images/message.png" /></li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </div> </div>
                                                        </li>
                                                        <li class="lead-info">
                                                        <div class="row">
                                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                                 <div class="circle-lives text-center">
                                                                     <span class="l-num">{{mylead.lives}}</span>
                                                                    <span> Lives </span>
                                                                 </div>
                                                            </div>
                                                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                                <ul class="lead-info-list ptb-12-0" ng-repeat="leadsdh in mylead.leadsdh">
                                                                    <li class='livesFont'><b>{{leadsdh.executives}}</b> Executives
                                                                    </li>
                                                                    <li class='livesFont'><b>{{leadsdh.nonexecutives}}</b> Non-executives
                                                                    </li>
                                                                    
                                                                </ul>
                                                            </div>
                                                            </div>
                                                        </li>
                                                        <li class="lead-info">
                                                            <div class="lead-info-right">
                                                                <ul class="lead-info-list" ng-repeat="leadscp in mylead.leadscp">
                                                                    <li><img src="{{leadscp.image}}"></li>
                                                                    <li class='livesFont'><b>Status: </b>{{leadscp.status}}
                                                                    </li>
                                                                    <li class='livesFont'><b>Clarrifications: </b>{{leadscp.classification}} 
                                                                    </li>
                                                                    <li class='livesFont'><b>Products: </b>{{leadscp.products}}
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                        <li  class="lead-info">
                                                             <div class="lead-info-right">
                                                                <ul class="lead-info-list">
                                                        
                                                                    <li class='livesFont'># of Quotes:{{mylead.noqoutes}} 
                                                                    </li>
                                                                    <li class='livesFont'>Next Action:<br/><span ng-click="showQuotePopup(mylead.leadinfo[0].name,mylead.action)"><b class="text-primary lead-btn">{{mylead.action}}</b></span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                     <div class="btm-bar">
                                                <a href="javascript:void(0)" class="btm-btn-right">View More</a>
                                            </div>
                                </div>
                                <div class="tab-pane" ng-show="show===1" ng-if="licenseExpired">
                                <div class="row">
                                    	<div class="col-sm-12 col-md-12 col-lg-12">
                                        	<div class="form-group sort pull-right">
  <label for="sel1">Sort By:</label>
  <select class="form-control" id="sel1">
    <option>Date</option>
  </select>
</div>
                                    	</div>
                                     </div>
                                      <div class="card">
                                        <div class="card-block">
                                            <ul class="task-list">
                                                <li class="task-li" ng-repeat="mylead in myleads">
                                                    <ul class="task-sheet">
                                                        <li class="lead-info c_pointer">										<div class="row">
                                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                                 <img ng-src="{{mylead.image}}" alt="person" class="img-circle">
                                                            </div>
                                                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                                <ul class="lead-info-list no-padding" ng-repeat="leadinfo in mylead.leadinfo">
                                                                    <li class='livesFont'>{{leadinfo.name}}</li>
                                                                    <li><span class="blueFontsmall">{{leadinfo.company}}</span></li>
                                                                    <li class='graySmall'>{{leadinfo.place}}</li>
                                                                    <li>
                                                                        <ul class="lead-utility-icons">
                                                                            <li><img src="images/call.png" /></li>  
                                                                            <li><img src="images/message.png" /></li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </div> </div>
                                                        </li>
                                                        <li class="lead-info">
                                                        <div class="row">
                                                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                                                 <div class="circle-lives text-center">
                                                                     <span class="l-num">{{mylead.lives}}</span>
                                                                    <span> Lives </span>
                                                                 </div>
                                                            </div>
                                                            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                                                <ul class="lead-info-list ptb-12-0" ng-repeat="leadsdh in mylead.leadsdh">
                                                                    <li class='livesFont'><b>{{leadsdh.executives}}</b> Executives
                                                                    </li>
                                                                    <li class='livesFont'><b>{{leadsdh.nonexecutives}}</b> Non-executives
                                                                    </li>
                                                                    
                                                                </ul>
                                                            </div>
                                                            </div>
                                                        </li>
                                                        <li class="lead-info">
                                                            <div class="lead-info-right">
                                                                <ul class="lead-info-list" ng-repeat="leadscp in mylead.leadscp">
                                                                    <li><img src="{{leadscp.image}}"></li>
                                                                    <li class='livesFont'><b>Status: </b>{{leadscp.status}}
                                                                    </li>
                                                                    <li class='livesFont'><b>Clarrifications: </b>{{leadscp.classification}} 
                                                                    </li>
                                                                    <li class='livesFont'><b>Products: </b>{{leadscp.products}}
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                        <li  class="lead-info">
                                                             <div class="lead-info-right">
                                                                <ul class="lead-info-list">
                                                        
                                                                    <li class='livesFont'># of Quotes:{{mylead.noqoutes}} 
                                                                    </li>
                                                                    <li class='livesFont'>Next Action:<br/><span><b>N/A</b></span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="btm-bar">
                                                <a href="javascript:void(0)" class="btm-btn-right">View More</a>
                                            </div>
                                </div>
                                <div class="tab-pane" ng-show="show===2">
                                </div>
                                <div class="tab-pane" ng-show="show===3">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <div class="card min-hgh">
                                        <div class="card-block">
                                            <div class="card-title ">
                                                <span class="v-main-head"><span class='card-heading'>My Tasks</span></span>
                                                <span class="edit-icon pull-right"><img src="images/edit.png"/></span>
                                            </div>
                                            <table class="table card-table task-table">
                                                <thead>
                                                    <tr>
                                                        <th class='text-lft'>Tasks</th>
                                                        <th>Due By</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="tasks in mytask">
                                                        <td>{{tasks.task}}</td>
                                                        <td>{{tasks.duedate}}</td>
                                                        <td class="text-primary">{{tasks.status}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="btm-bar">
                                                <a href="javascript:void(0)" class="btm-btn-left">View Calendar</a>
                                                <a href="javascript:void(0)" class="btm-btn-right">View More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 left-pad">
                                    <div class="card min-hgh">
                                        <div class="card-block">
                                            <div class="card-title ">
                                                <span class="v-main-head"><span class='card-heading'>Recent Activities</span></span>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <ul class="activity-list">
                                                        <li class='grayFontList' ng-repeat="activities in recentactivities">{{activities.name}}
                                                            <br/><span>{{activities.date}}</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="btm-bar">
                                                <a href="javascript:void(0)" class="btm-btn-right">View More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 right-block">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="card min-leads">
                                <div class="card-block">
                                    <div class="card-title text-left top-pad">
                                        <span class='card-heading'>Partner's Leads</span>
                                    </div>
                                    <ul class="list-group">
                                        <li class="v-list-group-item" ng-repeat="lead in leaddata">
                                            <div class="vcard">
                                                <div class="vcard-left">
                                                    <img ng-src="{{lead.image}}" alt="person" class="img-circle">
                                                </div>
                                                <div class="vcard-right">
                                                    <ul>
                                                        <li><b><span class="blueFont">{{lead.name}}</b></span>
                                                        </li>
                                                        <li class="grayFont">{{lead.place}}</li>
                                                        <li class="grayFont">Current lead: {{lead.currentlead}}</li>
                                                        <li>
                                                            <ul class="vcard-utility-icon">
                                                                <li class="vcard-utility-icon-li"><img src="images/call.png" /></li>
                                                                <li class="vcard-utility-icon-li"><img src="images/message.png" /></li>
                                                            <li class="vcard-utility-icon-li"><img src="images/Assets.png" /></li>     
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="row">
                                        <div class="btm-bar ">
                                            <a href="javascript:void(0)" class="btm-btn-right">View More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 border-top">
                                            <div class="card min-hgh">
                                                <div class="card-block">
                                                    <div class="card-title ">
                                                        <span class="v-main-head"><span class='card-heading'>Quick Links</span></span>
                                                        <span class="edit-icon pull-right"><img src="images/edit.png"/></span>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                            <ul class="link-list">
                                                                <li ng-repeat="link in quicklinks track by $index"><a href="javascript:void(0)" class='blueFontLink'>{{link}}</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
